#----------------------------
# Example Configuration File for MARES
#---------------------------
#
    
#    "MARES_test_case" 

# Run name
name = "MARES_example";

# Path to save output
path_out = "./" ;


#CAREFUL!!
#ALL VARIABLES THAT ARE NOT INTEGERS REQUIRE DOUBLE FORMAT (0.0)
#OR THEY WILL NOT BE PARSED AT ALL. 

cascade:(
    {
        #Parameters of the neutrino event 

        # Vertex position [m];
        position = { 
            x = 0.0;
            y = 0.0;
            z = 0.0;
        };
        # Vertex direction, in spherical coordinates;
        # Angles given in degrees [°]
        direction = {
            zenith = 90.0;
            azimuth = 90.0;
        };

        # Energy [PeV];
        energy = 1.0E3;
        
        # Number of primaries in the cascade
        primaries = 1;


        ########## For future implementation: ##########
        # Additional parameters that hold information about the cascade 

        # Primary identifier for this particular event
        nu_num = 0;

        # Track id, to identify groups of neutrino events.
        track_num = 0;
        
        # # Particle type 
        p_id = 12;

        # Follows PDG numbering, see
        # https://pdg.lbl.gov/2007/reviews/montecarlorpp.pdf

        # nu_e    = 12
        # nu_mu   = 14
        # nu_tau  = 16

        # # Type and subtype of interaction 
        # i_type = 1;
        # channel = 0;
        
        # # i_type and channels
            # i_type==0 CC
            #     channel=0 Hadronic + EM (1)
            # i_type==1 NC
            #     channel=0 Hadronic (2)
            # i_type==2 GR
            #     channel=0 hadronic (3)
            #     channel=1 EM (4)
            #     channel=2 muons, no shower (5)
            #     channel=3 taus, no shower(6)
            # i_type==3 decay
            #     channel=0 hadronic (7)
            #     channel=1 EM (8)
            #     channel=2 muons, no shower (9)
            # i_type==4 brem
            #     channel=1 EM (10)
            # i_type==5 pp
            #     channel=1 EM (11)
            # i_type==6 pn
            #     channel=0 had (12)

        # # Bjorken-y
        # inelasticity = 1.0;
        # # One weight
        # oneweight = 1.0;
        ########################################
    }
);

detector:{
    name = "example";

    transmitter:(
        {
        position = {    # m
            x = 0.0;      
            y = 0.0;
            z = -100.0;
        };

        # TX polarisation (normalised in code)
        polarization = {
            x = 0.0;
            y = 1.0;
            z = 0.0;
        };

        # TX power [W]
        power = 1E3;       

        # TX frequency [GHz]
        frequency = 0.05; #200 MHz    

        # TX gain [dBi]
        gaindB = 0.0;         
        }
    );


    receiver:(
        {
        position = {    # m
            x = -250.0;      
            y = 0.0;
            z = 0.0;
        };

        # RX polarisation 
        polarization = {
            x = 0.0;
            y = 1.0;
            z = 0.0;
        };
        
        # RX power [W]
        power = 0.0;       

        # RX frequency [GHz]
        frequency = 0.05; #200 MHz    

        # RX gain [dBi]
        gaindB = 0.0;      

        }
    );
};

# Set operation mode
options:{

    ##### Define the placement of your segments:
    #     direction =  Along the vector direction of the cascade.
    #     reflectivity = At the point of maximum reflectivity of the segment. 
    #     [ default = direction ]
    
    position = "direction";
    # or
    # position = "reflectivity";

    #### Declare the mode of propagation of radio waves
    #    const = constant media (ice), the refractive index is given in the parameters group
    # or
    #    iceraytracing = Use IRT package, analytical ice profile gradient. 
    # or
    #    beam = Beam test enviroment, you need to provide the position of the interface. 
    #
    #    [default ] = const;
    
    propagation = "const";
    #  propagation = "iceraytracing";
    #  propagation = "beam";

    # "beam mode" 
    # The scattering points and the antennas are in two different media.

    # The interface between the media is a plane with equation Ax + By + Cz + D = 0. The refractive indices of the two media at both sides of the interface. 
    # na = 1, nb = 1.51 are .
    #
    # interface = [1.0, 0.0, 0.0, 0.6];
    # n_out   = 1.0;
    # n_beam    = 1.51;

    #  disable_fresnel_coeff = false;
};

save:{

# Assumed false if not present!

    scatter:{
        ###  Event properties
        duration          = true;
        voltage           = true; 
        #  power               = true;  
        #  target_cs           = true;
        #  radar_cs            = true;
        #  
        ###  Scattering elements properties
        points_position         = true;
        #  points_phase            = true;
        #  points_attenuation      = true;
        #  points_arrival_time     = true;
        #  points_polarization     = true;
        #  
        ###  2D arrays
        #  phase_vs_time          = true;
        #  radar_vs_time          = true;
        #  voltage_vs_time        = true;

    };

#  Cascade properties
#      cascade:{
#          electron_number     = true;
#          electron_density    = true;
#          plasma_frequency    = true;
#          plasma_absorption   = true;
#          skin_depth          = true;
#          reflectance         = true;
#          opacity             = true;
#          transparency        = true;

#      };

};

#  IF you want to change a default parameter of MARES,
# then uncomment this section and the relevant line/s. 
# IF YOU DON'T KNOW WHAT YOU ARE DOING YET, STICK TO DEFAULTS. 

# properties:{
#     resolution:{
#         dL = 1.0;                         # cm
#         dR = 1.0;                         # mm
#         sampling_ratio = 100.0; 
#         Ltot_factor = 3.0 ; 
#         Rtot_factor = 2.0 ; 
#     };

#     plasma:{
#         lifetime = 10.0;                  # ns
#         collision_freq = 64.733           # THz
#         mass_ratio = 1.0;                 # me/mp;
#     };

#     medium:{
#         refractive_index = 1.78;
#         density = 0.92;                   # g/cm^3
#         attenuation_length = 1450.0;      # m
#     };

#     cascade:{
#         moliere_radius = 7.0;             # cm
#         ionization_energy = 20.0;         # eV
#         deposition_energy = 2.0;          # MeV / (g/cm^2)
#         critical_energy = 78.6;           # MeV
#         radiation_column_density = 36.08; # g/cm^2
#     }; 
# };


# eof
